.App {
  font-family: sans-serif;
  text-align: center;
}

h2, h3 {
  color:#5c73bf;
}

.search-wrapper {
  padding: 20px 20px 0 20px;
}
.content-wrapper {
  text-align: left;
  padding: 0px 20px;
}

.search-wrapper input {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid gray;
  outline: none;
}
.search-wrapper input:focus {
  border: 1px solid #5c73bf;
}


span {
  display: block;
}

span label {
  width: 10%;
  display: inline-block;
  line-height: 1.8;
  color:#5c73bf;
  font-weight: bold;
}

.btn-cls{
  padding: 8px 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.btn-cls:hover{
  background: #9d9fa1;
  border: 1px solid gray;
  outline: none;
}

.errorClass {
  border: 1px solid #dc3545 !important;
}
.errorMessage {
  color:#dc3545;
  padding-top: 5px;
}